# folders
repast-hpc-tutorial
literature
venv
__pycache__

# misinformation diffusion model
misinformation-diffusion-repast-hpc/bin
misinformation-diffusion-repast-hpc/logs
misinformation-diffusion-repast-hpc/objects
misinformation-diffusion-repast-hpc/.cache
misinformation-diffusion-repast-hpc/.env
misinformation-diffusion-repast-hpc/compile_commands.json
misinformation-diffusion-repast-hpc/output/tau
misinformation-diffusion-repast-hpc/props/networks

# knowledge spread model
knowledge-spread-repast-hpc/bin
knowledge-spread-repast-hpc/output/network_*
knowledge-spread-repast-hpc/logs
knowledge-spread-repast-hpc/objects
knowledge-spread-repast-hpc/.cache
knowledge-spread-repast-hpc/.env
knowledge-spread-repast-hpc/compile_commands.json
knowledge-spread-repast-hpc/frames

notes.md
