MPICXX=/home/user/MPICH/bin/mpicxx -std=c++11 

BOOST_INCLUDE=-I/home/user/boost-1_61_0/include
BOOST_LIB_DIR=-L/home/user/boost-1_61_0/lib
LD_LIBRARY_PATH=/home/user/boost-1_61_0/lib:$LD_LIBRARY_PATH
BOOST_LIBS=-lboost_mpi-mt -lboost_serialization-mt -lboost_system-mt -lboost_filesystem-mt

REPAST_HPC_INCLUDE=-I/home/user/repast_hpc-2.3.1/include
REPAST_HPC_LIB_DIR=-L/home/user/repast_hpc-2.3.1/lib
REPAST_HPC_LIB=-lrepast_hpc-2.3.1
